<div class="w-100 px-5 pt-4">
  <div class="row">
    <div class="col-5">
      <div *ngIf="getData()">
        <div>
          <p>显示数据</p>
          <button
            *ngFor="let data of dataService.getAllData()"
            class="mr-3"
            [ngStyle]="{
            'background-color': data == showingData ? '#040e24' : '#255db0'
            }"
            (click)="updateChart(data)">
            {{data.displayName}}
          </button>
        </div>
        <div class="mt-3 w-100">
          <p>片段/回合</p>
          <div class="overflow-auto" style="max-height: 250px">
            <button
              *ngFor="let run of fileService.getAllRuns()"
              class="mr-3"
              [ngStyle]="{
              'color': run.isDone() ? '':'darkgray',
              'background-color': (fileService.showingRun === run ? '#040e24' : '#255db0')
              }"
              (click)="fileService.switchRun(run); updateChart(showingData)">
              {{run.getTimeCost().toFixed(2) + 's - ' + (run.isDone() ? '完成' : '未完成')}}
            </button>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <app-hyperparams></app-hyperparams>
      </div>

      <div class="mt-3 overflow-auto" style="max-height: 200px">
        <app-logs></app-logs>
      </div>
    </div>

    <div class="col-7 h-100">
      <canvas id="chart" style="background-color: white" class="my-auto"></canvas>
      <p [ngClass]="getData() ? 'text-right' : 'text-left'">若有任何 Bug、问题或建议，欢迎 <a target="_blank"
        href="https://github.com/lulu2002/DeepRacerAnalytics/issues/new">点击这里</a> 让我知道！</p>
    </div>
  </div>
</div>
