<div class="w-100 px-5 pt-4">
  <div class="row">
    <div class="col-5">

      <div *ngIf="isLoading()" class="h-100">
        載入中... ({{getStateName()}})
      </div>

      <div *ngIf="getData() && isAnalysisDone()">

        <div>
          <p>顯示數據</p>
          <app-color-button
            *ngFor="let data of getAllData()"
            [current]="data == showingData"
            (click)="updateChart(data)">
            {{data.displayName}}
          </app-color-button>
        </div>


        <div class="mt-1">
          <p>檢視工具</p>
          <div>
            <app-color-button
              (click)="toggleFromStartFilter()"
              [current]="containsFromStartFilter()">
              只顯示從頭開始跑的圈數
            </app-color-button>
            <app-color-button
              (click)="toggleOnlyCompleteFilter()"
              [current]="containsOnlyCompleteFilter()">
              只顯示已完成的圈數
            </app-color-button>
          </div>
        </div>


        <div class="mt-2">
          <p>圈數</p>

          <table class="table overflow-auto">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="updateEpisodeSort()">回合</th>
                <th scope="col" (click)="updateRewardSort()">總獎勵</th>
                <th scope="col" (click)="updateGeneralSort()">花費時間</th>
                <th scope="col">是否有跑完一圈</th>
              </tr>
            </thead>
            <tbody *ngIf="isAnalysisDone() && isNoRunCanDisplay()">
              <th scope="row">---</th>
              <td>---</td>
              <td>---</td>
              <td>---</td>
            </tbody>
            <tbody>
              <tr *ngFor="let run of displayService.runsCache"
                (click)="switchRun(run)"
                [ngStyle]="{
                'border-style': (displayService.showingRun === run ? 'solid':'none'),
                'border-color': (displayService.showingRun === run ? '#255db0':'')
                }">
                <th scope="row">{{run.getMetric().episode}}</th>
                <td>{{run.getMetric().reward_score}}</td>
                <td>{{run.timeCost}}</td>
                <td>{{run.isDone}}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

      <div class="mt-3">
        <app-hyperparams></app-hyperparams>
      </div>

      <div class="mt-3 overflow-auto" style="max-height: 200px">
        <app-logs></app-logs>
      </div>
    </div>

    <div class="col-7">
      <canvas id="chart" style="background-color: white" class="my-auto"></canvas>
      <p [ngClass]="getData() ? 'text-right' : 'text-left'">若有任何 Bug、問題或建議，歡迎 <a target="_blank"
        href="https://github.com/lulu2002/DeepRacerAnalytics/issues/new">點擊這裡</a> 讓我知道！</p>
    </div>
  </div>
</div>
