<div *ngIf="getParams()" class="row w-100 h-100">

  <div class="col-6 h-100">
    <div class="p-2 gray-div">
      <p *ngFor="let paramName of getParamsName()">
        {{paramName}}: {{getParams()[paramName]}}
      </p>
    </div>
  </div>

  <div class="col-6 h-100">
    <div class="p-2 gray-div">
      <p>Speed:</p>
      <p class="ml-2">&#123; {{sortSpeeds().join(', ')}} &#125; m/s</p>
      <p>Steering angle:</p>
      <p class="ml-2">&#123; {{sortSteerAngles().join(', ')}} &#125; °</p>
    </div>
  </div>
</div>
